/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles
 */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#profile_photo {
	border-radius: 1.5em;
	margin-bottom: 14px;
}

#email {
	display: inline-block;
	margin-top: 12px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}
#email::before { content: "igor";  } 
#email::after { content: "-lashkov\40ya.ru"; }

/* Base */
body {
	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #777;
}

#wrapper {
	max-width: 800px;
	padding: 2em 40px;
	margin: 0 auto;
}

#header {
	border-bottom: 1px solid rgba(238, 238, 238);
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


#content {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
}

#footer {
	text-align: center;
	position: relative;
	margin-top: 6px;
}

.footer-link-connect {
  padding: 8px;
  background-color: transparent;
  opacity: 0.2;
}

.one_column {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  position: relative;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

a:hover {
  opacity: 0.7;
}

.title-link {
	font-weight: 400;
    font-size: 18px;
    display: inline-block;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

#avatar {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 20px;
}

/* Link to Documentation */
#docs {
	position: fixed; 
	top: 8px; 
	right: 6px;
	background: #5badf0; 
	color: #fff;
	padding: 8px 12px;
	font-size: 13px; 
	font-weight: bold; 
	line-height: 1.35;
	border-radius: 3px; 
	z-index: 100;
}

/* Type */
/* Accent color */

/**Boostrap clone*/
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}


a {
	text-decoration: none;
	color: #5694f1;
}

h1 {
	font-weight: 400;
	color: #222;
	font-weight: 600;
	font-size: 28px;
}

h2 {
	font-size: 22px;
	font-weight: 400;
	color: #4c4b4b; 
}

h3 {
	line-height: 1.3;
	font-size: 18px;
	font-weight: 300;
	color: #888; 
	margin-top: 24px;
	text-align: center;
	max-width: 500px;
	display: inline-block;
}

p {
	line-height: 1.8;
	 margin-bottom: 30px;
	 font-size: 16px;
}

@media screen and (max-width: 540px) {
	#wrapper { padding:40px; }
	#header { margin-bottom: 40px; }
	#docs { display: none; }
}

@media screen and (max-width:440px) {
	#wrapper { padding:20px; }
	#header { margin-bottom: 20px; }
}




.projects_title {
	font-size: 22px;
	font-weight: 400;
	color: #4c4b4b; 
	margin-top: 20px;

	box-sizing: border-box;
	clear: both;
	font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 20px;
	margin-top: 7px;
	overflow-wrap: break-word;

	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
	text-align: center;
	position: relative;
}
.projects_title_min {
	text-align: center;

	white-space: nowrap;
	height: auto;
	line-height: 1;
	text-align: center;
	font-size: 1rem;

	border: none;
	margin: calc(2rem - .1428571428571429em) 0 1rem;
		margin-bottom: 1rem;
	padding: 0 0;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 700;
	line-height: 1.28571429em;
	text-transform: none;
	color: rgba(0,0,0,.87);
}

.projects_img {
	position: relative;
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 0;
	background: rgba(0,0,0,.05);
}
.projects_img img {
    width: 300px;
}

.projects_card {
	width: calc(33.33333333333333% - 2em);
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1em;
	max-width: 100%;
	display: inline-block;
	position: relative;
	word-wrap: break-word;

}

.projects_card .content .title {
    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
	line-height: 1.28571429em;
}

.projects_card .content .description {
	margin-top: .5em;
	color: rgba(0,0,0,.87);
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	line-height: 1.4285em;
	font-size: 14px;
}

.projects_card .content .meta {
    font-size: 1em;
	color: rgba(0,0,0,.4);
	line-height: 1.4285em;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}


h4 {
	color:#333;
}
.course {
    background-color: white;
	min-height: 146px;
}
.paperWell {
    min-height: 170px;
}
.well {
    background-color: white;
}
.paperIcon {
    max-width: 130px;
    margin-right: 20px;
    border: 0px;
    padding: 0px;
}

.project > .title {
	color: rgba(0,0,0,.4);
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
}
.project > .text {
	color:rgba(0, 0, 0, 0.68);
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	font-weight: 200;
	font-family: Arial, Helvetica, sans-serif;
}

.project > .project-meta > .icon {
	margin-right: .3em;
	color: rgba(0,0,0,.4);
	font-size: 1em;
	display: inline-block;
}
.project > .project-meta > .date {
	margin-right: .3em;
	color: rgba(0,0,0,.4);
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
}
.project-meta > .code {
	margin-right: .3em;
	color: rgba(0,0,0,.4);
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
}
.project-links a {
	margin-top: .75em;
	font-size: 14px;
	color: rgba(0,0,0,.4);
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
}
